h2 Sign up
= simple_form_for(resource, :validate => true, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :username, :autofocus => true
    = f.input :email,    :validate => { :presence => true }
    = f.input :password, :validate => { :presence => true }
  .form-actions
    = f.button :submit, "Sign up"
= render "devise/shared/links"
