.comment
  p= comment.content
  - if can? :destroy, comment
    - unless comment.id.nil?
      p= link_to 'Delete Comment', topic_comment_path(@topic, comment),
        method: :delete, data: { confirm: 'Are you sure?' } 
