.topic
  .topic_title
    p= link_to topic.title, topic
  .topic_meta
    span= topic.user.username
    span= topic.last_replied_by
    span= time_ago_in_words(topic.last_replied_at) unless topic.last_replied_at.blank?
