h1= @topic.title
p= link_to @topic.user.username, user_registration_path(@topic.user)
p= @topic.content
- if can? :destroy, @topic
  p= link_to 'Delete', @topic, method: :delete, class: 'btn', data: { confirm: 'Are you sure?' }
.comments_index= render @comments if @comments.any?
=render :partial => "comment_form"
