h2 Sign in
= simple_form_for(resource, :validate => true, :as => resource_name, :url => session_path(resource_name)) do |f|
  .form-inputs
    = f.input :username, :autofocus => true, :validate => { :uniqueness => false }
    = f.input :password, :validate => { :presence => true }
    - if devise_mapping.rememberable?
      .hide = f.check_box :remember_me, :checked => true
  .form-actions
    = f.button :submit, "Sign in"
= render "devise/shared/links"
