@import "bootstrap";

#logo {
  float: left;
  color: #000;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  &:hover {
    text-decoration: none;
  }

}

.navbar .container {
  width: 940px;
}