header.navbar.naavar_inverse
  .navbar-inner
    .container
      = link_to "Campus", '/', id: 'logo'
      nav
        ul.nav.pull-right
          - if user_signed_in?
            li = link_to 'Settings', edit_user_registration_path
            li = link_to 'Logout',   destroy_user_session_path, method: :delete
          - else
            li = link_to 'Sign up',  new_user_registration_path
            li = link_to 'Login',    new_user_session_path