doctype html
html
  head
    title Campus
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    /[if lt IE 9]
      script src='http://html5shim.googlecode.com/svn/trunk/html5.js'
  body
    = render 'layouts/header'
    .container
      - if notice
        p.alert.alert-success= notice
      - if alert
        p.alert.alert-error= alert
      .span9
        = yield
